@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Fasthand&family=Gochi+Hand&family=Redressed&family=Shrikhand&display=swap');
$primary-color: #5EBEC4;
$secondary-blue: #028090;
$third-color: #e4fde1;
$fourth-color: #f45b69;
$fifth-color: #F92C85;
$sixth-color: #8e6c88;
$seventh-color: #acd8aa;
$body-color: #FDF5DF;

$main-font:'Redressed', cursive;;
$secondary-font: 'Shrikhand', cursive;
$third-font: 'Gochi Hand', cursive;
$fourth-font: 'Akaya Telivigala', cursive;





/* utility classes */

.flex-row-between {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-row-even {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.m-b1 {
    margin-bottom: 55%;
}

.m-b2 {
    margin-bottom: 5%;
}

.m-t1 {
    margin-top: 10%;
}

.font-style1 {
    color: $fifth-color;
    font-family: $fourth-font;
    text-shadow: 0px 0px 10px grey;
    font-size: xxx-large;
}

.font-style2 {
    font-family: $third-font;
    color: $secondary-blue;
    text-shadow: 0px 0px 15px grey;
}

.text-align {
    text-align: center;
}




// classes

.input {
    border-radius: 5%;
    padding: 2%;
    margin-right: 10%;
    height: 25%;
    width: 100%;
    background-color: $third-color;
    color: $secondary-blue;
    border: none;
}




::placeholder {
    color: $seventh-color;
    opacity: .5;
}







* {
    box-sizing: border-box;
    cursor: url(/img/quill.png);
}
body {
    background-color: $body-color;
}


nav {
        // background-color: $secondary-blue;
        margin-bottom: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
            ul {
            list-style-type: none;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 2% 15% 0% 15% ;
          

                li {
                    font-family: $secondary-font;
                    font-size: xx-large;
                    color: $fifth-color; 
                    font-weight: bold;
                    text-shadow: 0px 0px 5px grey;
                    padding: 20%;
                }

                // li:hover {
                //     text-transform: capitalize;
                //     color: $fourth-color;
                // }
            }
    }



/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }



.info {
    font-size: x-large;
}


.contact-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8%;
    
    button {
        background-color: transparent;
        border-radius: 20%;
        border: none;
        color: grey;
        border: 1px solid transparent;
    }

    button:hover {
        color: $secondary-blue;
        background-color: $third-color;
        border: 1px solid $secondary-blue;
     
    }
}






.greeting-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .speech-bubble3 {
        position: relative;
        background: rgba(0, 170, 187, 0.5%);
        border-radius: .4em;
        height: 2em;
        width: 7%;
        font-family: $main-font;
        margin: 0% 0% 0% 5%;
        text-align: center;
        font-size: large;

        p {
            margin-bottom: 1rem;
        }

        img {
            height: 35rem;
            width: 25rem;
            margin-left: 25%;
        }
    }
    
    .speech-bubble3:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-left-color: rgba(0, 170, 187, 0.5%);
        border-right: 0;
        border-bottom: 0;
        margin-top: -10px;
        margin-right: -20px;
    }
    

        .hero-p {
            font-family: 'Fasthand', cursive;
            font-size: xx-large;
            color: black;
            font-weight: bolder;
            text-align: center;
            background-image: url(/img/paper.jpg);
            background-size: cover;
            background-position: center;
            border-radius: 10%;
            padding: 2% 2% 5% 2%;
            box-shadow: 0px 0px 10px 10px grey;
            text-shadow: 2px 2px 20px grey;
            width: 55%;
            height: 15em;
            margin-right: 2%;
        }
}



.projects {
    margin-top: 10%;
    text-align: center;
    color: $fifth-color;
    font-family: $fourth-font;
    text-shadow: 0px 0px 5px grey;
    font-size: xxx-large;
}


.projects-section {
    margin-top: 10%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: stretch;
    
    div {
        border-radius: 50%;
    }

    h2 {
        font-family: $third-font;
        color: $secondary-blue;
        font-size: xxx-large;
    }

    img {
        width: 35rem;
        border-radius: 5%;
        padding: 25;
        margin-top: 5%;
        margin-bottom: 15%;
    }

    button {
        margin: 5%;
        border-radius: 25%;
        background-color: transparent;
        border-radius: 20%;
        border: none;
        color: $fifth-color;
        font-weight: bolder;
        font-family: $secondary-font;
        height: 5rem;
        width: 10rem;
        font-size: larger;
    }

    button:hover {
        color: $body-color;
        background-color: $fifth-color;
        border: 2px solid $secondary-blue;
        margin-top: 2%;
        cursor: pointer;
        box-shadow: 0px 0px 2px 2px $secondary-blue;
    }

    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2%;
        padding-top: 2%;
    }
}





.skills-contact-section {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;


    .skills-container {

      
        font-size: x-large;
    }


    label {
        font-size: $main-font;
    }

    .skills-list {
        font-family: $fourth-font;
        font-size: larger;
    }

    
    .build-container {
        display: flex;
        flex-direction: row;
        justify-content:center;
    }

    .speech-bubble2 {
        position: relative;
        background: #00aabb;
        border-radius: .4em;
        height: 6em;
        padding: 2%;
        font-family: $main-font;

       
      
    }
    
    .speech-bubble2:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-left-color: #00aabb;
        border-right: 0;
        border-bottom: 0;
        margin-top: -10px;
        margin-right: -20px;
    }
    

    .contact-info {
        p {
            font-family: $main-font;
            font-size: x-large;
        }

        h3 {
            font-family: $main-font;
        }
    }
    .contact-container > form {
        margin-right: 5%;
    }


    #form-btn {
        margin: 5%;
            border-radius: 25%;
            background-color: transparent;
            border-radius: 20%;
            border: none;
            color: $fifth-color;
            font-weight: bolder;
            font-family: $secondary-font;
    }

    #form-btn:hover {
        color: $secondary-blue;
            background-color: $third-color;
            border: 1px solid $secondary-blue;
            margin-top: 2%;
            cursor: pointer;
            color: $seventh-color;
    }


    form {
        margin-left: -5em;
        margin-top: 12rem;
    }


}





.anime-me-section {
    display: flex;
    justify-content: center;
    
    img {
        z-index: 10;
    }

    .speech-bubble {
        position: relative;
        background: rgba(0, 170, 187,0.7);
        border-radius: .4em;
        height: 10em;
        padding: 2%;
        font-family: $main-font;
    }
    
    .speech-bubble:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-right-color: rgba(0, 170, 187,0.7);
        border-left: 0;
        border-bottom: 0;
        margin-top: -10px;
        margin-left: -20px;
    }
    

}


footer {

    img:hover {
        cursor: pointer;
       scale: 2%;
    }

    .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        i {
            color: $fifth-color;
            text-shadow: 0 0 30px $secondary-blue;
            font-size: xx-large;
            padding: 1%;
            padding-top: 10%;
        }
        i:hover {
            cursor: pointer;
            color: $secondary-blue;
        }
    }
    
    
    .icon-bar {
        position: fixed;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      
      /* Style the icon bar links */
      .icon-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: white;
        font-size: 20px;
        border-radius: 15%;
      }
      
      /* Style the social media icons with color, if you want */
      .icon-bar a:hover {
        background-color: $fifth-color;
      }
      
      .facebook {
        background: rgba(59, 89, 152, 0.8);
        color: white;
      }
      
      .twitter {
        background: rgba(85, 172, 238, 0.8);
        color: white;
      }
      
      .google {
        background: rgba(221, 75, 57, 0.8);
        color: white;
      }
      
      .linkedin {
        background: rgba(0, 123, 181, 0.8);
        color: white;
      }
      
      .github {
        background-color: rgba(0, 0, 0, 0.8);
        color: black;
      }
    
}


  




@media screen and (max-width: 480px) {
    nav{
            list-style-type: none;
            display: flex;
            flex-direction: column;
        }

    nav:hover {
        cursor: pointer;
    }

    .icon-bar {
       font-size: 8px;
    }


    .greeting-section {
        display: flex;
        flex-direction: column;
       align-content: center;

       
       
       .speech-bubble3 {
         margin: 20% 0 20% 0;
         width: 20%;
         
            img {
                height: 25rem;
                width: 25rem;
            
            }
        }

       
       
        .hero-p {
            font-size: larger;
            width: 100%;
            margin-top: 25rem;
        }
        
    }


 .projects {
  margin-top: 5em;
 }



.skills-contact-section {
    display: flex;
    flex-direction: column;


    .skills-list {
        margin-bottom: 5rem;
    }

    .build-container {
        margin-bottom: 3rem;
    }

}


.anime-me-section {
    img {
        height: 25rem;
        width: 15rem;
    }
}




}